@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-dark: #01080E;
    --color-primary-light: #011627;
    --color-primary-medium: #011221;

    --color-secondary-gray: #607B96;
    --color-secondary-green: #3C9D93;
    --color-secondary-blue: #4D5BCE;
    --color-secondary-white: #fff;

    --color-accent-yellow: #FEA55F;
    --color-accent-green: #43D9AD;
    --color-accent-rose: #E99287;
    --color-accent-pink: #C98BDF;

    --color-lines: #1E2D3D;

    --color-gradients-blue: #4D5BCE;
    --color-gradients-green: #43D9AD;
  }
}

.asd {
  background-color: var(--color-primary-dark);
}
